# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


lab-01/sources/Debug/**
lab-01/sources/x64/**
lab-01/sources/Release/**
lab-01/sources/.vs/**
lab-01/sources/.vscode/**

lab-02/sources/Debug/**
lab-02/sources/x64/**
lab-02/sources/Release/**
lab-02/sources/.vs/**
lab-02/sources/.vscode/**

lab-03/sources/Debug/**
lab-03/sources/x64/**
lab-03/sources/Release/**
lab-03/sources/.vs/**
lab-03/sources/.vscode/**
lab-03/submission/**

lab-04/sources/Debug/**
lab-04/sources/x64/**
lab-04/sources/Release/**
lab-04/sources/.vs/**
lab-04/sources/.vscode/**
lab-04/sources/app/externals/**
lab-04/submission/**